<a href="https://colab.research.google.com/github/seanngpack/machine-learning-sets/blob/master/Heart_Disease.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Let's do some more deep learning

In [0]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [0]:
from google.colab import drive
drive.mount('/content/gdrive')
# 4/egFjfdz2RbDdyEUUKDdaX9I2ts_Cvj25RA39CaDEPpATO-zzV6XgMms

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
from keras.utils.np_utils import to_categorical
from sklearn.model_selection import train_test_split

Using TensorFlow backend.

In [0]:
df = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/Datasets/heart.csv')

In [0]:
df.head()

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2   41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3   56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4   57    0   0       120   354    0  ...      1      0.6      2   0     2       1

[5 rows x 14 columns]

In [0]:
import seaborn as sns
#sns.pairplot(df, hue='cp')

## Preprocess the data

In [0]:
y = df['target']
y[:5]

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [0]:
X = df.drop(columns=['target'])
X.head()

   age  sex  cp  trestbps  chol  fbs  ...  thalach  exang  oldpeak  slope  ca  thal
0   63    1   3       145   233    1  ...      150      0      2.3      0   0     1
1   37    1   2       130   250    0  ...      187      0      3.5      0   0     2
2   41    0   1       130   204    0  ...      172      0      1.4      2   0     2
3   56    1   1       120   236    0  ...      178      0      0.8      2   0     2
4   57    0   0       120   354    0  ...      163      1      0.6      2   0     2

[5 rows x 13 columns]

In [0]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
Xsc = sc.fit_transform(X)

### Making train/test set split

In [0]:
X_train, X_test, y_train, y_test = train_test_split(Xsc, y,
                                                    test_size=0.2,
                                                    random_state=42)

In [0]:
X_train.shape

(242, 13)

## Build the model

In [0]:
from keras.models import Sequential
from keras.layers import Dense
from keras.optimizers import SGD, Adam, Adadelta, RMSprop
import keras.backend as K

In [0]:
def build_model():
  K.clear_session()
  model = Sequential()
  model.add(Dense(64, input_shape=(13, ),                  
                  activation='tanh'))
  model.add(Dense(8, input_shape=(13, ),                  
                  activation='tanh'))
  model.add(Dense(1, activation='sigmoid'))
  model.compile(RMSprop(lr=0.1),
                loss='binary_crossentropy',
                metrics=['accuracy'])
  return model

In [0]:
dismodel = build_model()
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 64)                896
_________________________________________________________________
dense_2 (Dense)              (None, 8)                 520
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 9
=================================================================
Total params: 1,425
Trainable params: 1,425
Non-trainable params: 0
_________________________________________________________________

In [0]:
model.fit(X_train, y_train,
          batch_size=10,
          epochs=10,
          verbose=1,
          validation_split=0.2)

Train on 193 samples, validate on 49 samples
Epoch 1/10
193/193 [==============================] - 0s 1ms/step - loss: 0.5613 - acc: 0.7876 - val_loss: 0.4727 - val_acc: 0.8163
Epoch 2/10
193/193 [==============================] - 0s 159us/step - loss: 0.4816 - acc: 0.7772 - val_loss: 0.5268 - val_acc: 0.7551
Epoch 3/10
193/193 [==============================] - 0s 160us/step - loss: 0.5041 - acc: 0.7824 - val_loss: 0.4760 - val_acc: 0.7959
Epoch 4/10
193/193 [==============================] - 0s 156us/step - loss: 0.4193 - acc: 0.8083 - val_loss: 0.4091 - val_acc: 0.8571
Epoch 5/10
193/193 [==============================] - 0s 156us/step - loss: 0.4118 - acc: 0.8238 - val_loss: 0.3596 - val_acc: 0.8571
Epoch 6/10
193/193 [==============================] - 0s 159us/step - loss: 0.3740 - acc: 0.8653 - val_loss: 0.3630 - val_acc: 0.8776
Epoch 7/10
193/193 [==============================] - 0s 161us/step - loss: 0.3649 - acc: 0.8653 - val_loss: 0.3505 - val_acc: 0.8776
Epoch 8/10
193/193 [==============================] - 0s 158us/step - loss: 0.3553 - acc: 0.8653 - val_loss: 0.4331 - val_acc: 0.7551
Epoch 9/10
193/193 [==============================] - 0s 163us/step - loss: 0.3284 - acc: 0.8808 - val_loss: 0.3475 - val_acc: 0.8367
Epoch 10/10
193/193 [==============================] - 0s 159us/step - loss: 0.2884 - acc: 0.8964 - val_loss: 0.4353 - val_acc: 0.8776

In [0]:
model.evaluate(X_test, y_test)

61/61 [==============================] - 0s 161us/step

[0.49804627504505095, 0.8360655757247425]

In [0]:
from sklearn.metrics import confusion_matrix

In [0]:
# fix this
y_pred = model.predict(X_test)
y_pred_class = np.argmax(y_pred)
y_test_class = np.argmax(y_test.values)

In [0]:
confusion_matrix(y_test_class, y_pred_class)

TypeError: ignored